<div class="container margenes">
    <div class="row m-3">
        <div class="col">
            <h2>Agregar una nueva novedad</h2>
            <form action="/admin/novedades/agregar" method="post">
                <div class="mb-3">
                    <label class="form-label">Titulo</label>
                    <input type="text" class="form-control"  name="titulo">
                </div>
                <div class="mb-3">
                    <label class="form-label">Subtitulo</label>
                    <textarea class="form-control" rows="3" name="subtitulo"></textarea>
                </div>
                <div class="mb-3">
                    <label class="form-label">Cuerpo</label>
                    <textarea class="form-control" rows="3" name="cuerpo"></textarea>
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-success mb-3">Guardar</button>
                </div>
            </form>
            {{#if error}}
            <p>{{message}}</p>
            {{/if}}
        </div>
    </div>
</div>    