<div class="container mt-4">
  {{!-- inicio fila 1 --}}
  <div class="row">
    <div class="col">
      <p class="text-end">Hola {{persona}} ! <a href="" class="btn btn-danger">Cerrar Sesion <i
            class="fa-solid fa-arrow-right-from-bracket"></i></a></p>
    </div>
  </div>
  {{!-- fin fila 1 --}}
  {{!-- inicio fila 2 --}}
  <div class="row">
    <div class="col-7">
      <h2>Listado de Novedades</h2>
    </div>
    <div class="col-5 text-end">
      <a href="/admin/novedades/agregar" class="btn btn-success"><i class="fa-solid fa-plus"></i> Nuevo</a>
    </div>
  </div>
  {{!-- fin fila 2 --}}
  {{!-- inicio fila 3 --}}
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr class="table-dark">
            <th scope="col">#</th>
            <th scope="col">Titulo</th>
            <th scope="col" class="text-end">Acciones</th>
          </tr>
        </thead>
        <tbody>
          {{#each novedades}}
          <tr>
            <th scope="row">{{id}}</th>
            <td>{{titulo}}</td>
            <td class="text-end">
              <a href="" class="btn btn-secondary"><i class="fa-solid fa-pencil"></i></a>
              <a href="" class="btn btn-secondary"><i class="fa-solid fa-trash"></i></a>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>




</div>