<div class="contacto">
    <div>
        <h2>Contacto Rapido</h2>
        <form action="" class="formulario">
            <p>
                <label for="nombre">Nombre</label>
                <input type="text" id="nombre" name="nombre" placeholder="Nombre" />
            </p>
            <p>
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Email" />
            </p>
            <p>
                <label for="telefono">Telefono</label>
                <input type="text" id="telefono" name="telefono" placeholder="Telefono" />
            </p>
            <p>
                <label for="mensajes">Mensajes</label>
                <textarea name="mensajes" id="mensajes" cols="30" rows="10"
                    placeholder="Dejenos aqui su mensaje"></textarea>
            </p>
            <p><label for="enviar"></label>
                <input type="submit" id="enviar">
            </p>
        </form>
    </div>
    <div class="datos">
        <h2>Otras vias de contacto</h2>
        <p>Tambien puede contactarse con nosotros usando los siguientes medios</p>
        <ul>
            <li>Telefono: 12345-6798</li>
            <li>Email: contacto@transportes.com.ar</li>
            <li>Facebook: facebook.com/transportesX</li>
            <li>Twitter: @transportesX</li>
            <li>Skype: transportes_skype</li>
        </ul>
    </div>
</div>
