<div>
    <img src="images/home/img01.jpg" alt="avion">
</div>
<div class="columnas">
            <section class="bienvenidos">
                <h2>Bienvenidos</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis sint, minima odit magnam cupiditate nihil similique fuga tempore maiores, voluptatem labore consequuntur veritatis laboriosam in aspernatur et aperiam assumenda fugiat.
                Placeat iste, quo ipsum, magnam cumque temporibus sed quam facilis, ab esse nesciunt inventore? Neque voluptas quisquam in ipsa sed ratione voluptatem perspiciatis! Nobis possimus nemo eveniet velit impedit totam?</p>
            </section>
            <section class="testimonios">
                <h2>Testimonios</h2>
                <div class="testimonio">
                    <span class="cita">"Simplemente excelente"</span>
                    <span class="autor">Juan Gomez - zapatos.com</span>
                </div>
            </section>    
        </div>    