 <section class="historia">
            <h2>Historia</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore aut ipsam porro reiciendis consequuntur voluptates. Eaque, aliquid qui? Perspiciatis delectus corporis quisquam dolores molestiae doloribus eum nulla, ullam voluptatum soluta.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt pariatur temporibus nihil enim repellendus reprehenderit perspiciatis praesentium provident quam a beatae quia quos, sit harum quasi! Quasi ipsum incidunt accusamus!</p>
        </section>
        <section class="staff">
            <h2>Staff</h2>
            <div class="personas">
                <div class="persona">
                    <img src="images/nosotros/nosotros1.jpg" alt="">
                    <h5>Juan Gomez</h5>
                    <h6>Gerente General</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, nemo? At, ea! Dignissimos sint reiciendis consequatur ipsam possimus eligendi maxime hic repellendus, repudiandae blanditiis temporibus. Vitae aliquid ipsa adipisci asperiores.</p>
                </div>
                <div class="persona">
                    <img src="images/nosotros/nosotros2.jpg" alt="">
                    <h5>Diana Reyes</h5>
                    <h6>Gerente Comercial</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus fuga recusandae incidunt quasi odit obcaecati, accusamus nesciunt totam dicta, magnam, quod consequatur quaerat nam itaque magni. Autem magnam laboriosam totam.</p>
                </div>
                <div class="persona">
                    <img src="images/nosotros/nosotros3.jpg" alt="">
                    <h5>Roberto Zavala</h5>
                    <h6>Gerente de Sistemas</h6>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur deserunt, rerum nostrum sit voluptate assumenda officia, repellendus quaerat illum alias necessitatibus magni totam eligendi quam reiciendis fugiat nam. Sint, molestiae?</p>
                </div>
                <div class="persona">
                    <img src="images/nosotros/nosotros4.jpg" alt="">
                    <h5>Sandra Mastroloi</h5>
                    <h6>Gerente de Marketing</h6>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor dicta quaerat debitis repellat? Maxime alias magnam fuga nihil vel aspernatur distinctio quidem sint quo tempora. Accusantium vitae temporibus quibusdam facilis!</p>
                </div>
                <div class="persona">
                    <img src="images/nosotros/nosotros5.jpg" alt="">
                    <h5>Luciano Gomez</h5>
                    <h6>Gerente de Logistica</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt quidem, recusandae excepturi laboriosam voluptatibus consectetur. Facilis impedit quasi esse delectus amet, expedita natus voluptas atque molestiae cumque. Facere, ab sunt.</p>
                </div>
            </div>
        </section>