<h2>Novedades</h2>
        <div>
            <h3>Titulo</h3>
            <h4>Subtitulo</h4>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro eligendi omnis cupiditate? Accusantium
                autem at enim consectetur dolores ad sit, laboriosam nemo praesentium quo doloribus, inventore neque
                aliquid. Nam, eum.</p>
            <hr>
            <h3>Titulo</h3>
            <h4>Subtitulo</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error aspernatur quisquam sunt nam nihil magnam,
                maxime doloribus quam illum sapiente velit odit. Odit delectus similique quo nesciunt blanditiis
                necessitatibus ut.</p>
            <hr>
            <h3>Titulo</h3>
            <h4>Subtitulo</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi eveniet, harum necessitatibus ea quod
                deserunt quo asperiores sit accusamus omnis minus voluptatum aut ad modi nostrum, consequatur ratione
                reiciendis deleniti!</p>
            <hr>
        </div>